html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: monospace;

}

.main {
    height: auto;
}

.navbar {}

a {
    color: white;
}

.image-div {}

.main-img {
    width: 100%;
    height: 100%;
}

.home-about {
    height: auto;
    width: 100%;
    border-radius: 10px;
}

/* service section*/
.nav-id {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.400);
    transition: 0.3s;
    float: left;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.900);
}

/*gallery section*/
.gallery {
    height: auto;
}

.section-gallery {
    background-color: #133863;
}

/*courses section*/
.section-couses {
    background-color: #135746;
}

.courses {
    height: auto;
}

.card-headding {
    text-align: center;
    font-weight: bold;

}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    background-color: #000000;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    height: 44px;
    width: 44px;
    align-items: center;
    justify-content: center;
    display: flex;
}

#myBtn:hover {
    background-color: rgb(19, 19, 19);
}
/*Location*/
.location-div{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}
.about-location{
    background-color: #133863;
    width: 100%;
    border-radius: 5px;

}
.about-location-txt{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}